{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow-models/mobilenet"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow-models/knn-classifier"></script>
  </head>
  <body>
    <h1>TensorflowJS runing in Django</h1>
    <div id="console"></div>
    <video autoplay playsinline muted id="webcam" width="224" height="224"></video>
    <button id="class-defult">Set default</button>
    <button id="class-b">Add B</button>
    <button id="class-c">Add C</button>
    <button id="class-d">Add D</button>
    <script src="{% static 'signIn\js\index.js'%}"></script>
  </body>

</html>
